@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  scroll-behavior: smooth;
  background-color: rgb(54, 0, 54);
}

.content-main{
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

header{
  color: #fff;
}

header h1 {
  color: rgb(255, 16, 95);
}

header .button{
  margin: 2rem 0;
}

header div button{
  border-radius: 2px;
  border: none;
  padding: 5px;
  margin: 2px;
  background-color: rgb(255, 16, 95);
  color: #fff;
}

audio{
  margin-bottom: 1rem;
}


.accordion{
  --bs-accordion-bg: rgb(255, 16, 95);
  --bs-accordion-active-bg: #fff;
  --bs-accordion-btn-focus-border-color: #be0a0a;
  --bs-accordion-active-color: rgb(255, 16, 95);
  --bs-accordion-color: #fff;
  --bs-accordion-btn-color: #fff;
}

.btn-danger{
  --bs-btn-bg: rgb(255, 16, 95);
  margin-bottom: 1rem;
}

.modal{
  --bs-modal-bg: rgb(255, 16, 95);
}

.modal .btn-secondary{
  --bs-btn-color: rgb(255, 16, 95);
  --bs-btn-bg: #fff;
}